<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h2>Foydalanuvchilar Ro‘yxati</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Balance</th>
            <th>Energiya</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.balance }}</td>
            <td>{{ user.energy }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>