<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upgrade</title>
    <link rel="stylesheet" href="style.css">
    <script type="module" src="script.js"></script>
</head>
<body>
    <header>
        <h1>Upgrade Page</h1>
    </header>
    <main>
        <p>Bu sahifada yangilanishlar va yangilanish usullari haqida ma'lumot beriladi.</p>
    </main>
    <footer>
        <button onclick="showPage('home')">
                        <img src="{{ url_for('static', filename='images/home.png') }}" alt="Home"> Home
        </button>
        <button onclick="showPage('earn')">
            <img src="{{ url_for('static', filename='images/earn.png') }}" alt="Earn"> Earn
        </button>
        <button onclick="showPage('upgrade')">
                        <img src="{{ url_for('static', filename='images/earn.png') }}" alt="Upgrade"> Upgrade 
        </button>
    </footer>
</body>
</html>